<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Suite" verbose="3" parallel="tests" thread-count="3">

    <test name="Google Test_chrome">
        <parameter name="url" value="https://www.google.com"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="mytest.GoogleTest" />
        </classes>
    </test>

    <test name="Google Test_FireFox">
        <parameter name="url" value="https://www.google.com"/>
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="mytest.GoogleTest" />
        </classes>
    </test>

    <test name="Google Test_safari">
        <parameter name="url" value="https://www.google.com"/>
        <parameter name="browser" value="safari"/>
        <classes>
            <class name="mytest.GoogleTest" />
        </classes>
    </test>

    <test name="Orange HRM Test">
        <parameter name="url" value="https://www.orangehrm.com/en/30-day-free-trial"/>
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="mytest.OrangeHRMTest" />
        </classes>
    </test>

    <test name="OpenCart Test">
        <parameter name="url" value="https://naveenautomationlabs.com/opencart/index.php?route=account/login"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="mytest.OpenCartTest" />
        </classes>
    </test> -->

    <!-- <test name="Google Test_firefox">
        <parameter name="url" value="https://www.google.com" />
        <parameter name="browser" value="firefox" />

        <classes>
            <class name="mytests.GoogleTest" />
        </classes>
    </test>

    <test name="Google Test_safari">
        <parameter name="url" value="https://www.google.com" />
        <parameter name="browser" value="safari" />

        <classes>
            <class name="mytests.GoogleTest" />
        </classes>
    </test>


    <test name="Orange HRM Test">
        <parameter name="url"
            value="https://www.orangehrm.com/30-day-free-trial" />
        <parameter name="browser" value="chrome" />


        <classes>
            <class name="mytests.OrangeHRMTest" />
        </classes>
    </test>


    <test name="OpenCart Test">
        <parameter name="url"
            value="https://naveenautomationlabs.com/opencart/index.php?route=account/login" />
        <parameter name="browser" value="chrome" />

        <classes>
            <class name="mytests.OpenCartTest" />
        </classes>
    </test> -->

</suite>